.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  color:#ffffff;
}
.menu li {
  float: left;
  margin-left: 10px;
  color:#ffffff;
}

.menu li.other-link {
  float: right;
}

.menu a:link {color:#ffffff;}   
.menu a:visited {color:#ffffff;} 
.menu a:hover {color:#FF00FF;text-decoration:none}   
.menu a:active {color:#ffffff;text-decoration:none}

.test a:link{color:#000000};
.test a:visited{color:#000000};