.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  color:#ffffff;
}
.menu li {
  float: left;
  margin-left: 10px;
  color:#ffffff;
}

.menu li.other-link {
  float: right;
}

a:link {color:#ffffff;}    /* unvisited link */
a:visited {color:#ffffff;} /* visited link */
a:hover {color:#FF00FF;}   /* mouse over link */
a:active {color:#ffffff;}  /* selected link */