.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color:#6495ed;
}
.menu li {
  float: left;
  margin-left: 10px;
  background-color:#6495ed;
}

.menu li.other-link {
  float: right;
}

a.active {
  color: #000;
  text-decoration: none;
} 
