<h3>Things that I know</h3>  
<p>
Here are some work-related things that I can do. Just a small list of skills and programs! I work in Windows, Linux, and Mac environments.
</p>

<h3>Languages</h3>  
<ul>
  <li>Java</li>
    My knowledge of Java mainly comes from Android development.
  <li>Javascript </li>
    I can use many frameworks and libraries such as:
	<ul>
		<li>jQuery and jQuery mobile</li>
		<li>Sencha Touch</li>
		<li>Zepto</li>
		<li>Backbone</li>
		<li>Require</li>
		<li>Underscore</li>

	</ul>
  <li>C++</li>
  <li>SQL and SQLite </li>
  <li>Ruby on Rails </li>
</ul>

<h3>Application Development</h3>
<p>I have created quite a few apps (as mentioned in 'What I've Made' section) for many different platforms such as</p>
<p>Each application is stored and monitored on github, using a proper git workflow with forking, pull requests, and issue tracking</p>
<ul>
  <li>Blackberry</li>
  <li>Blackberry PlayBook</li>
  <li>Android</li>
</ul>
<p>As well as web-based apps on many other platforms such as</p>
<ul>
  <li>iPhone</li>
  <li>iPad</li>
  <li>Windows Phone</li>
</ul>

<h3>Software</h3>
<p>Here are some programs that I am very capable with.</p>
<ul>
  <li>Eclipse</li>
  <li>Photoshop and Gimp</li>
  <li>AutoCAD</li>
  <li>SolidEdge and SolidWorks</li>
  <li>Blender</li>
  <li>Endorphin</li>
  <li>Microsoft Office and Libre Office suites</li>
</ul>