<h3>Things that I know</h3>  
<p>
Here are some work-related things that I can do. Just a small list of skills and programs! I work in Windows, Linux, and Mac environments.
</p>

<h3>Languages</h3>  
<ul>
  <li>HTML5 + CSS3</li>
  <li>Java</li>
    My knowledge of Java mainly comes from Android development. This can be seen in my League of Legends Companion App.
  <li>Javascript </li>
    At communitech I was required to use Phonegap to build HTML+Javascript apps to all devices.
    I can use many frameworks and libraries such as:
	<ul>
		<li>jQuery and jQuery mobile</li>
		<li>Sencha Touch</li>
		<li>Zepto</li>
		<li>Backbone</li>
		<li>Require</li>
		<li>Underscore</li>

	</ul>
  <li>C++</li>
  	This knowledge comes from a programming course at UWaterloo
  <li>SQL and SQLite </li>
  	Not so much the creation of databases, but the using of. I have also used postgreSQL
  <li>Ruby on Rails </li>
  	Limited knowledge, though I did use it for the "food at the hub" project seen in the "what i've made" section.

</ul>

<h3>Application Development</h3>
<p>Each application I've made is stored and monitored on github, using a proper git workflow with forking, pull requests, and issue tracking.</p>
<p>I have created quite a few apps (as mentioned in 'What I've Made' section) for many different platforms such as</p>
<ul>
  <li>Blackberry</li>
  	With HTML5+Javascript libraries.
  <li>Blackberry PlayBook</li>
  	Using Java
  <li>Android</li>
  	Using Java
</ul>
<p>As well as HTML5+Javascript apps on many other platforms such as</p>
<ul>
  <li>iPhone</li>
  <li>iPad</li>
  <li>Windows Phone</li>
</ul>

<h3>Software</h3>
<p>Here are some programs that I am very capable with.</p>
<ul>
  <li>Eclipse</li>
  	As well as the Android SDK plugins
  <li>Photoshop and Gimp</li>
  	I am a huge photoshop fan. I use it extensively and am often approached for help on using the software.
  <li>AutoCAD</li>
  	I was in Skills Canada and won in the Waterloo Region for using AutoCAD and SolidEdge!
  <li>SolidEdge and SolidWorks</li>
  <li>Blender</li>
  <li>Endorphin</li>
  <li>Microsoft Office and Libre Office suites</li>
  	Excel macros and whatnot too.
</ul>