<div class="linkdiv">
<h2> Previous Employment </h2>

<h1> Communitech </h1>
<b>Application Developer</b>

<p>January - April 2012 </p>

<p> For my first co-op term I worked at Communitech. <p>

<p> All of my work is outlined in the "What I've Made" page, but I will highlight some of it again here. </p>

<ul>
			<li> Worked in a team of 2-4 to complete projects. </li>
			<li> Communicated with clients and provided periodic builds of applications. </li>
			<li> Created wireframes of applications based on specifications from clients. </li>
			<li> Created prototype applications (as seen on my "What I've made" page) for clients. </li>
			<li> Used proper github workflow to complete projects.</li>
			
</ul>

<hr />

<p> Being it that my term at Communitech was my first work term, I don't have any other previous work experience related to my field </p>
</div>