<html>
  <head>
          <!-  Wooo you;re actually looking at my source code! I like you already, possible employer! I went with the most simplistic resume because Jobmine is terrible. Remember, the real fun stuff is happening at vicv.github.com. This resume is just a formality. ->
    <style type="text/css">
      body {
        font-family: calibri;
      }
      h1 {
          color:#fff;margin-left:0.4em;
        }
      h2 {
        font-size:2.3em;
      }
      h3 {
        font-size:1.6em;
        margin-bottom:0em;
        margin-top:1em;
      }
      hr {
        margin-top:-1em;
        border-color:#939393;
        border-width:1px;
        margin-top:0.5em;
      }
      #infotable {
        margin-top:-1.5em;
        padding-right:1em;
      }
      #tablecontain{
      	float:center;
        color:#000;
        padding-top:0.4em;
        border-radius:1em;
        margin-top:1em;
      }
      #name {
        margin-top:1em;
        color:#222;
        margin-left:0.2em;
        vertical-align:text-center;
        margin-bottom:0.5em;
      }
      .tablestuff {
        text-align:center;
      }
      #infos {
        float:right;
        text-align:left;
        margin-right:1em;
        width:50%;
        color:#222;
        padding-top:1em;
      }
    </style>
  </head>
<body>

<div id="tablecontain" align="center">
  <table id="infotable" width="100%" >
    <tr>
      <td width = "65%">
        <h2 id="name"> Victor Vucicevich </h2>
      </td>
      <td id = "infos">
  			  Phone: (226) 338-8460
        <br>
          Email: <a href="mailto:victorvuc@gmail.com">victorvuc@gmail.com</a>
        <br>
          <b>Website:</b> <a href="http://vicv.github.com">vicv.github.com</a>
  		</td>
  	</tr>
  </table>
  <hr>
</div>
<h3 style="margin-top:0.15em">Skills Summary</h3>
<ul>
  <li> Proficient in developing native Android and Playbook applications using Java in Eclipse</li>
  <li> Experienced in javascript frameworks such as jQuery, jQuery Mobile, Sencha Touch, backbone.js, and require.js </li>
  <li> Ability to convert traditional websites into mobile applications </li>
  <li> Developed in an Agile environment using version control and a proper github workflow </li>
  <li> Moderate experience in Ruby on Rails, C++, zepto.js </li>
  <li> Extensive experience in Windows, Linux/Unix, and Mac environments </li>
</ul>

<! When I say proficient, I mean I've done it quite a bit. I'm no pro, but I'd like to be.-
    I am also not the absolute greatest at backbone.js and require.js, but they're super fun to use and I've been doing it a lot. (vicv.github.com) ->

<h3> Work Experience</h3>

<p><b> Mobile Application Developer,</b> Communitech Apps Factory, Kitchener, ON, Jan-Apr. 2012</p>
<ul>
  <li> Designed and developed 4 mobile applications based on specifications given by clients</li>
  <li> Worked in an Agile environment to release weekly builds of applications to the clients</li>
  <li> Used a proper git workflow to track issues and eliminate coding conflicts while working in pairs</li>
  <li> Took on the role of lead developer for a native Android application, made all major decisions for the application and was the main contact to the client</li>
  <li> In charge of converting specifications into an application meeting the client's expectations</li>
</ul>

<p><b>General Labourer, </b>NEDLAW Living Roofs, Breslau, ON, Jul. - Aug. 2010</p>
<ul>
    <li> Collaborated with co-workers in growing and harvesting sedum plants for future installation on rooftops as green roofs or rooftop gardens</li>
    <li> Tended to fields and yards using specialized tools and machinery</li>
    <li> Worked in a large group to optimize the cutting and movement of large amounts of sedum plants</li>
</ul>



<h3> Personal Projects </h3>

<p><b>League of Legends Companion App,</b> Android and Playbook, March 2012</p>
<ul>
  <li> Created an Android application to document different characters from a computer game</li>
  <li> Extensive use of SQLite database manipulation</li>
  <li> 5000 downloads and a 4.5 star rating on the Google Play Market</li>
  <li> Converted the application to run on Playbook, approved and submitted to App World</li>
</ul>

<p><b>Co-Founder and President,</b> UW Mobile Application Development Club, May 2012</p>
<ul>
  <li> Acting head of a club geared towards teaching students with little to no experience in development how to make their own mobile applications</li>
  <li> Working towards goal of having each member confident enough to put their own application on their resume by the end of one month of teaching</li>
</ul>


<h3>Activities</h3>
  <p><b>Firefighting Robot, Sumo Fighting Robot,</b> Sir John A. Macdonald Secondary School, Waterloo ON, 2009-2011</p>
  <ul>
    <li> Designed and built robots to complete specific tasks given both specifications and constraints</li>
    <li> Wrote full technical reports including AutoCAD and Solid Edge designs</li>
    <li> Created one robot which used sensors to locate other robots and then push them out of a ring</li>
    <li> Created one robot which navigated a maze to locate fires and then extinguish them</li>
    <li> Worked in teams of two to complete projects, developed great communication and cooperative skills</li>
  </ul>

  <p><b>Skills Canada in Mechanical CAD,</b> Waterloo, Ontario, 2011</p>
  <ul>
    <li> Given AutoCAD designs to convert into 3D models, and vice-versa</li>
    <li> Cross-sections, hatching, dimensioning, and formatting</li>
    <li> 10th place provincial Skills Canada in Mechanical CAD, Waterloo, ON, May 2011</li>
    <li> 1st place regional Skills Canada in Mechanical CAD, Waterloo, ON, April 2011</li>
  </ul>

<p><b>Junior Designer, Race car club,</b> Sir John A. Macdonald Secondary School, Waterloo, ON, Sept. 2010- Jun. 2011</p>
  <ul>
    <li> Designed and built a race car in a team of 15 to compete in regional competitions</li>
    <li> Sketched and designed 3D models and AutoCAD blueprints of car</li>
    <li> Used machinery to cut and weld metal for inner frame</li>
    <li> Car completed and capable of reaching top speeds of 55km/h</li>
  </ul>


<h3>Awards & Achievements</h3>

<ul>
  <li> Finalist in regional Reach for the Top trivia competition, Waterloo, ON, May 2011</li>
  <li> Euclid Mathematics Contest contender, Waterloo, ON, April 2011</li>
  <li> DECA Business Role-play Competition Certificate of Excellence, Toronto, ON, February 2010/2011</li>
  <li> DECA Provincials qualifier, Waterloo, ON, November 2009/2010</li>
  <li> Galois Mathematics Contest contender, Waterloo, ON, April 2008 </li>
</ul>
</body>
</html>