<div class="linkdiv">
<h3>About Me</h3>
<p>My name is Victor Vucicevich</p>
<p>I am a Systems Design Engineering student at the University of Waterloo, currently in 1A. </p>
<p>If you found your way here through my resume, thank you for actually checking out the best part of the resume. </p>

<p>Here are some non-work related things about me: </p>
<ul>
  <li>I love photography <a href="http://flickr.com/photos/vicvee">(my Flickr)</a>. </li>
  <li> I also love photoshop and photomanipulation </li>
  <li>I'm a big fan of fantasy books and movies. </li>
  <li>I am Time's 2006 person of the year. </li>
  <li>I often play in competetive game tournaments. </li>
  <li>I love landscaping and construction. </li>
  <li>I am a foosball addict.</li>
</ul>

<h3>Take a look around by pressing the links up there!</h3>
<p>This website is an example of backbone.js and require.js, using CSS, Javascript, and HTML5</p>
<p>While this website may look extremely ugly and plain, its whats on the inside that counts. Check out the code <a href="http://github.com/VicV/vicv.github.com">here</a> to understand what I mean.
<h3>Contact Me</h3>

<p>Call or Text: 226-338-8460</p>
<p>E-mail: Victorvuc@gmail.com</p>
<p>Or if you're in Waterloo and shout loudly I may hear you. </p>


<p>Github: <a href="github.com/VicV">http://github.com/VicV</a>
</div>


