
<h3>About Me</h3>
<p>My name is Victor Vucicevich</p>
<p>I am a Systems Design Engineering student at the University of Waterloo, currently in 1A. </p>
<p>Here are some non-work related things about me: </p>
<ul>
  <li>I love photography. </li>
  <li>I'm a big fan of fantasy books and movies. </li>
  <li>I am Time's 2006 person of the year. </li>
  <li>I often play in competetive game tournaments. </li>
  <li>I love landscaping and construction. </li>
</ul>

<h3>Take a look around!</h3>
<p>This website is an example of backbone.js and require.js, using css, javascript, and html5</p>

<h3>Contact Me</h3>

<p>Call or Text: 226-338-8460</p>
<p>E-mail: Victorvuc@gmail.com</p>
<p>Github: <a href="github.com/VicV">http://github.com/VicV</a>


