<script src="js/libs/jquery/jquery.mobile-1.1.0.min.js"></script>
<script src="js/libs/jquery/lightbox.js"></script>
<link href="css/lightbox.css" rel="stylesheet" />
<div class="linkdiv">
<h3>Things that I have made</h3>
<p>Much of my experience is in application development, and most of the were done in a group of 2-3 people.</p>

<h2> Personal Projects </h2>
<h3>League of Legends Companion App</h3>
<p>This application is a native Android application that is also built for the Blackberry PlayBook. It is my first ever personal app. It is a companion application fora popular free game. It has a list of every character in the game, and a lot of information about each character. It also includes external links to guide sites, so users can get information on their character and how to play them while they are playing the game.</p>

<p>This application was programmed using Java and all information is gathered and displayed using SQLite databases. The app also includes the ability to import and export specific data tables. It was created to be submitted to the Blackberry AppWorld, and has over 3000 downloads with a 4.5 star rating<p>

<a href="images/SS1.jpg" rel="lightbox" title="my caption">image #1</a>

<a href="https://play.google.com/store/apps/details?id=com.LoLCompanionApp">Here is a link to the Google Play store</a>  
<a href="http://appworld.blackberry.com/webstore/content/87604/?lang=en">Here is a link to the Blackberry Appworld</a>

<h3>This Webpage</h3>

<p> This github page demonstrates HTML5 and javascript knowlege. It is built on backbone.js as well as require.js and uses a proper MVC (Model-View-Controller) structure. </p>

<p> It is also used to demonstrate github functionality knowlege. The source of this web page is open to see <a href="https://github.com/VicV/vicv.github.com">here</a>.


<h2> Communitech Applications </h2>

<h3> BlackLight </h3>

<p> This application is a native app for android which is used to send messages while in low lighting environments such as movie theatres or classrooms. </p>

<p> This app has full e-mail and SMS functionality, including sending and an inbox for both. The application also has a contact browser for both e-mail addresses and phone numbers.</p>

<p> It also includes a settings screen which allows the user to globally change things such as: <p>
		<ul>
			<li> Screen Brightness </li>
			<li> Font Colour </li>
			<li> Font Size </li>
			<li> Typeface </li>
			<li> E-mail signature </li>
		</ul>

<h3> Wheatley </h3>

<p> Wheatley is a web-based application which is then converted to run on mobile devices. <p>

<p> Wheatley is primarily built for the Blackberry PlayBook. It is a sign-in application to be used by companies and offices to keep track of guests. </p>

<p> When a user signs in, it prints a badge for them which has all of their information, a picture of them (taken upon signin), and a QR code. The QR code can be signed at later times to sign in and out without needing to register again.</p>

<p> The application also sends out an e-mail to the person which the user is there to visit. Users which sign in are stored in a database and administrators can view all people that are currently signed in, or have previously visited. There is a search function that can be used to find all times a specific person has ever signed in or out. </p>

<p> This application is running on Backbone.js with a heavy dependency on Require.js and is purely based on the MVC structure type. It uses many libraries and plugins, such as jQuery, jQuery Mobile, and Simplemodal. </p>


<h3> Optimus </h3>

<p> Optimus was an application built on Sencha Touch for all mobile devices. </p>

<p> Its primary function is to track the tire pressure in vehicles fitted with a special device. </p>

<p> This application was cancelled mid-development so there is not much information on it, other than the use of Sencha Touch. </p>


<h3> Food at the Hub </h3>

<p>Food at the Hub is a website that is used to track whether or not there is food currently located in the kitchen at the Communitech Kitchener office.</p>

<p> The website is built on top of a Ruby on Rails server that sorts incoming requests and updates the page based on what is clicked. It has an automatically refreshing page with a "YES" or "NO" in the tab, as well as a twitter account which it posts updates to. </p>

<p> The website can be viewed <a href="http://foodatthehub.com">here</a>.</p>
<p><a href="https://github.com/appsfactory/FoodAtHub"> The source code can be viewed here. </a></p>

<h3> Foodlink </h3>

<p> Foodlink is a project with the main purpose of converting a functional website into an app. </p>

<p> The Foodlink app was made using HTML and javascript and was converted to mobile devices using Phonegap. The application takes in a search request and makes a JSON call using the supplied google maps API. The call returns the locations and types of food stores containing the searched item.</p>

<p> This project was primarily to learn the proper use of github, using forks, pull requests, and issue tracking/handling. </p>
</div>


