<h3>Things that I have made</h3>
<p>Much of my experience is in application development, and most of the were done in a group of 2-3 people.</p>

<h2> Personal Projects </h2>
<h3>League of Legends Companion App</h3>
<p>This application is a native Android application that is also built for the Blackberry PlayBook. It is my first ever personal app. It is a companion application fora popular free game. It has a list of every character in the game, and a lot of information about each character. It also includes external links to guide sites, so users can get information on their character and how to play them while they are playing the game.</p>

<p>This application was programmed using Java and all information is gathered and displayed using SQLite databases. The app also includes the ability to import and export specific data tables. It was created to be submitted to the Blackberry AppWorld, and has over 3000 downloads with a 4.5 star rating<p>

<a href="https://play.google.com/store/apps/details?id=com.LoLCompanionApp">Here is a link to the play store</a>

<h3>Music Powered Shooter</h3>
<p> The name of this app is just a placeholder for now </p>

<p> This app
